@import "./../../styles/variable.scss";
.App-header {
  font-size: $header-font-size;
  justify-content: center;
}

.text-area {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-45%);
  -ms-transform: translateY(-45%);
  transform: translateY(-45%);
  .text {
    font-size: 70px;
  }
  .button-cta {
    transition: $transition-time;
    line-height: 4em;
    padding: 0.5em 0.7em;
    background-color: $background-color;
    text-decoration: none;
    color: $text-color;
    border-radius: 7px;
    font-size: 1em;
    font-weight: 700;
    &:hover{
      transition: $transition-time;
      background-color: $background-color-hover;
      color: $text-color-hover;
    }
  }
}

.image-area {
  float: right;
  width: 45%;
  margin-top: 20vh;
}